#container {
    background-color: #fcfaf0;
}

#footer {
    background-color: #8a9ea0;
    background-image: linear-gradient(to right, #FD6B6C, #BD81BF);
    min-height: 200vh;
    bottom: 0;
    width: 100%;

}

.index-layout {
    align-content: center;
    min-height: 120vh;
}

#small-context {
    margin: 1.5rem;
    padding: 2rem;
}

.index-layout .card {
    margin: 3rem;
    height: 30vh;
}

#how-to-book {
    width: 30%;
}

#about-us {
    width: 30%;
}

.accommodations-layout {
    margin: 3rem;
    text-align: center;
}

.settings-menu {
    width: 15%;
    border-right: 1px solid black;
    float: left;
    height: auto;
}

.settings-options {
    width: 100%;
    min-height: 70vh;
}

.delete-account-layout {
    min-height: 70vh;
}

.create-accommodation-layout {
    min-height: 110vh;
    min-width: 100%;
}

.create-accommodation-layout .btn {
    width: 100%;
}

.features-layout {
    width: 50%;
}

.my-accommodations ul {
    display: flex;
    list-style-type: none;
}

.my-accommodations li {
    display: inline-block;
    border-radius: 1px;   
}

.my-accommodations-layout {
    height: 70vh;
}


#fixed-img {
    width: 40%;
    height: 40vh;
    float: left;
}

#card-horizontal {
    display: flex;
}

#card-norm {
    
}

#card-norm img {
    height: 40vh;
}

#card-horizontal img {
    height: 30vh;
}