#container {
    background-color: #fcfaf0;
}

#footer {
    background-color: #8a9ea0;
    background-image: linear-gradient(to right, #FD6B6C, #BD81BF);
    min-height: 90%;
}

.index-layout {
    align-content: center;
    min-height: 120vh;
}

#small-context {
    margin: 1.5rem;
    padding: 2rem;
}

.index-layout .card {
    margin: 3rem;
    height: 30vh;
}

#how-to-book {
    width: 30%;
}

#about-us {
    width: 30%;
}

.accommodations-layout {
    margin: 3rem;
    text-align: center;
}

.settings-menu {
    width: 15%;
    border-right: 1px solid black;
    float: left;
    height: auto;
}

.settings-options {
    width: 100%;
    min-height: 70vh;
}

.delete-account-layout {
    min-height: 70vh;
}

.create-accommodation-layout {
    min-height: 90%;
    
}