#container {
    background-color: #fcfaf0
}

#footer {
    background-color: #8a9ea0;
    height: 80vh;
}

#footer-card {
    background-color: #99b0b0;
}

.accommodations-layout {
    margin: 3rem;
    text-align: center;
}