#container {
    background-color: #fcfaf0;
}

#footer {
    background-color: #8a9ea0;
    background-image: linear-gradient(to right, #FD6B6C, #BD81BF);
    min-height: 10vh;
    bottom: 0;
    width: 100%;

}

.index-layout {
    align-content: center;
    min-height: 120vh;
}

#small-context {
    margin: 1.5rem;
    padding: 2rem;
}

.index-layout .card {
    margin: 3rem;
    height: 30vh;
}

#how-to-book {
    width: 30%;
}

#about-us {
    width: 30%;
}

.accommodations-layout {
    margin: 3rem;
    text-align: center;
}

.settings-menu {
    width: 15%;
    float: left;
    min-height: 110vh;
}

.settings-options {
    width: 80%;
    min-height: 85vh;
    float: right;
}

.delete-account-layout {
    min-height: 70vh;
}

.delete-account {
    min-height: 70vh;
}

.create-accommodation-layout {
    min-height: 110vh;
    min-width: 100%;
}

.create-accommodation-layout .btn {
    width: 100%;
}

.features-layout {
    width: 50%;
}

.my-accommodations ul {
    display: flex;
    list-style-type: none;
}

.my-accommodations li {
    display: inline-block;
    border-radius: 1px;   
}

.my-accommodations-layout {
    height: 70vh;
}

#fixed-img {
    width: 40%;
    height: 40vh;
    float: left;
}

#card-horizontal {
    display: flex;
}

#card-norm img {
    height: 40vh;
}

#accommodation-page #card-norm #carousel-layout {
    width: 60%;
}
#card-horizontal img {
    height: 30vh;
}

.update-accommodation-layout {
    min-height: 110vh;
    min-width: 100%;
}

.update-accommodation-layout .btn {
    width: 100%;
}

.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

#accommodation-page {
    height: 150vh;
    padding: 2rem;
}

.map {
    float: right;
    width: 40%;
}

.features-style {
    width:45;
    margin: 2rem;
    float: left;
}

.forgot-password-layout {
    height: 90vh;
}

.verify-layout {
    height: 85vh;
}