#container {
    background-color: #fcfaf0;
}

#footer {
    background-color: #8a9ea0;
    min-height: 80vh;
    max-height: 100vh;
    background-image: linear-gradient(to right, #FD6B6C, #BD81BF);
}

#footer-card {
    min-height: 80vh;
    max-height: 100vh;
}

.index-layout {
    align-content: center;
}

.index-layout ul {
    display: flex;
}

.index-layout li {
    list-style: none;
    
}

.index-layout .card {
    width: 18em;
    height: 30vh;
}

.accommodations-layout {
    margin: 3rem;
    text-align: center;
}