#container {
    background-color: #fcfaf0
}

#footer {
    background-color: #8a9ea0;
    min-height: 80vh;
    max-height: 100vh;
}

#footer-card {
    background-color: #99b0b0;
    min-height: 80vh;
    max-height: 100vh;
}

.index-layout {
    min-height: 60vh;
    max-height: 80vh;
}

.accommodations-layout {
    margin: 3rem;
    text-align: center;
}